* {
  margin: 0;
  font-family: 'Special Elite', cursive;
}

.div-inline{
    display:inline-block;
}

nav a {
  text-decoration-line: none;
  color: black;
}

nav {
  padding-top: 20px;
  background-color: hotpink;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.right {
  float: right;
}

a {
  padding: 15px;
  margin-right: 15px
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #ffe0e0;
}

h1{
  color: #ff8a8a;
  text-align: center;
  margin-bottom: 20px;
}

h4{ 
  color: #ff8a8a;
  font-size: 18px;
  padding: 7px;
}

article {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  margin: 30px auto;
}

table, tr, td, th {
  border: 1px solid black;
}

#resource {
  padding-top: 15px;
}

select {
  margin-right: 10px;
}

button {
  background-color: #ff8a8a;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

button:hover {
  color: #ff8a8a;
  background-color: white;
  transition: .2s;
}